@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">20Devs.com</h1>
    <p><a href="http://20devs.com/">AutoValidation with Twenty Devs</a>.</p>
</div>
